<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>My Information</h1>

<table>
    <tr>
        <th>Username</th>
        <th>Name</th>
        <th>Surname</th>
        <th> Password</th>
        <th>Roles </th>
    </tr>
    <tr>
        <td th:text="${user.username}"  &emsp; ></td>

        <td th:text="${user.name}"></td>

        <td th:text="${user.surname}"></td>

        <td th:text="${user.password}"></td>

        <td th:text="${user.roles}"></td>
    </tr>
</table>
<form th:action="@{'/logout'}">
    <input type="submit" value="Logout"/>
</form>

</body>